/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color__white: hsl(0, 0%, 100%);
  --color__slate300: hsl(212, 45%, 89%);
  --color__slate500: hsl(216, 15%, 48%);
  --color__slate900: hsl(218, 44%, 22%);

  --font__stack: 'Outfit', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --leading__body: 140%;
  --leading__headlines: 120%;

  --letter-spacing__body: 0.01333rem;

  --spacing500: 2.666rem;
  --spacing300: 1.6rem;
  --spacing200: 1.0666rem;

  --text__headline: 1.4666rem;
  --text__body: 1rem;
}

*, *::after, *::before {box-sizing: border-box;}

html {font-size: 15px;}

body {
  background-color: var(--color__slate300);
  color: var(--color__slate500);
  font-family: var(--font__stack);
  font-size: var(--text__body);
  line-height: var(--leading__body);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  color: var(--color__slate900);
  transition: all 220ms ease-in-out;
}
  a:hover, a:focus {text-decoration: none;}

h1 {
  color: var(--color__slate900);
  font-size: var(--text__headline);
  line-height: var(--leading__headlines);
  margin-bottom: var(--spacing300);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {letter-spacing: var(--letter-spacing__body);}

.card {
  background-color: var(--color__white);
  border-radius: 1.333rem;
  max-width: 21.333rem;
  padding: var(--spacing200) var(--spacing200) var(--spacing500) var(--spacing200);
}
  .card__img {
    border-radius: 0.666rem;
    margin-bottom: var(--spacing300);
  }

  .card__body {text-align: center;}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing300);
  justify-content: center;
  align-items: center;
  margin: var(--spacing500) auto;
  max-width: 96rem;
  min-height: 100vh;
}
