/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/outfit-v11-latin-regular.woff2') format('woff2');
}

/* outfit-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/outfit-v11-latin-700.woff2') format('woff2');
}

:root {
  --color__white: hsl(0, 0%, 100%);
  --color__slate300: hsl(212, 45%, 89%);
  --color__slate500: hsl(216, 15%, 48%);
  --color__slate700: hsl(216,27%,30%);
  --color__slate900: hsl(218, 44%, 22%);

  --font__stack: 'Outfit', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --leading__body: 1.4;
  --leading__headlines: 1.2;

  --letter-spacing__body: 0.01333rem;

  --spacing500: 2.666rem;
  --spacing300: 1.6rem;
  --spacing200: 1.0666rem;

  --text__base: 15px;
  --text__headline: 1.4666rem;
  --text__body: 1rem;
}

*, *::after, *::before {box-sizing: border-box;}

:focus {scroll-padding-block-end: 8vh;}

:focus-visible {
  --outline-color: currentColor;
  --outline-size: max(2px, 0.15em);
  --outline-style: solid;
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
}

:target {scroll-padding-block-start: 2rem;}

html {
  font-size: var(--text__base);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, p {margin-block-end: 0;}

body {
  background-color: var(--color__slate300);
  color: var(--color__slate700);
  font-family: var(--font__stack);
  font-size: var(--text__body);
  line-height: var(--leading__body);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  color: var(--color__slate900);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

a {transition: all 220ms ease-in-out;}
  a:hover, a:focus {text-decoration: none;}

h1 {
  color: var(--color__slate900);
  font-size: var(--text__headline);
  line-height: var(--leading__headlines);
  margin-bottom: var(--spacing300);
  text-wrap: balance;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {letter-spacing: var(--letter-spacing__body);}

.card {
  background-color: var(--color__white);
  border-radius: 1.333rem;
  max-width: 21.333rem;
  padding: var(--spacing200) var(--spacing200) var(--spacing500) var(--spacing200);
}
  .card__img {
    border-radius: 0.666rem;
    margin-bottom: var(--spacing300);
  }

  .card__body {text-align: center;}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing300);
  justify-content: center;
  align-items: center;
  margin: var(--spacing500) auto;
  max-width: 96rem;
  min-height: 100vh;
}
